/*
=============== 
Footer
===============
*/

.page-footer {
    height: 4rem;
    background: var(--primary-500);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-height: 8%;
    padding-left: 15%;
    padding-right: 15%;
  }
  .footer-links{
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  .footer-link{
    margin: 0 0.5rem;
  }
  
  .footer-link a{
    color: var(--white);
    font-size: 1.25rem;
    transition: var(--transition);
  }
  
  .footer-link a:hover{
    color: var(--primary-200);
  }
  
  .footer-logo{
    padding-left: 20px;
  }
  .legalmentions{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background: var(--primary-500);
    color: var(--white);
  }
  
  .legalmentions p {
    font-size: 0.75rem;
    text-align: center;
    letter-spacing: var(--letterSpacing);
    margin-bottom: 0;
  }
  .footer{
    margin-top: 14px;
  }

  @media screen and (min-width: 572px) {


    .footer-links li {
        height: auto;
        display: inline;
        margin: 0 0.5rem;
        
    }
  }